
.text-center>a{
    font-size: 50px;

}
/*.fp_wrapper{*/

    /*margin-top: 10px;*/
    /*padding: 600px 0px 70px 0px;*/
    /*background:lightgrey;*/

/*}*/
.fp_title>span{
    position: relative;
    left: 60%;
    right: auto;
    bottom:40px;
}
.fp_title>span>a{
    color: red;
}
.fp_main{
    left: 1000px;
    padding-right:10px;
    width: 60%;
    height: 70%;
}

.login_other{
    position: relative;
    left: 24px;
}
.login_other>a{
    position: relative;
    left: 106px;
    bottom: 30px;
}

